<%-include('./templates/basehead.ejs') %>
    <div class="container-sm">
      <div class="row  vh-100">
        <div class="col d-grid">
            <div class="d-flex align-items-center justify-content-center">
              <!-- <button type="button" class="btn btn-primary">Welcome</button> -->
              <a href="/app/order" class="btn btn-primary btn-lg" role="button">Welcome, Click to Begin</a>
            </div>
        </div>
      </div>
    </div>    
<%-include('./templates/footer.ejs') %>
