<div class="col-12 d-flex justify-content-between">
  <div>
    <button type="button" tabindex="-1" class="btn btn-link"  data-bs-dismiss="modal">Close</button>
    <button type="button" tabindex="-1" class="btn btn-link"  id="resetForm">Reset-Form</button>
    <button type="button" tabindex="-1" class="btn btn-link  text-secondary d-none" id="delete">Delete</button>
  </div>
  <button type="submit" class="btn btn-primary px-4" id="submit">Add</button>
</div>