<%-include('../templates/modalhead.ejs') %>
  <div class="modal-body"></div>
<%-include('../templates/modalfoot.ejs') %>
<script src="/js/unitdata.js" type="module"></script> 
<%-include('../templates/footer.ejs') %>